body {
	margin:0;
	padding:0;
	height: 100%;
}

.container {
	background-image: linear-gradient(to left, rgb(58, 3, 30) -10%, transparent 90%), url(../img/bcg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	height: 100%;
	min-width: 100%;
	position: fixed;
}

.pink_box {
	z-index: 1;
	background-color: #fc5094;
	height: 100%;
	width: 500px;
	display: block;
	float: right;
	position: relative;
}

.white_box {
	background-color: #fff;
	height: 80vh;
	width: 487px;
	display: block;
	right: 0;
	bottom: 0;
	position: absolute;
}

.icon {
	z-index: 3;
	background-image: url(../img/icon.png);
	min-width: 120px;
    min-height: 100px;
    position: absolute;
    right: 431px;
    bottom: 64%;
}

.header_text span {
	font-family: "OpenSans-Bold";
	display: block;
	color: rgb(252, 80, 148);
	text-transform: uppercase;
	font-size: 31px;
	letter-spacing: 3px;
	position: absolute;
	margin-left: 75px;
	bottom: 83%;
}

.text p{
	font-family: "OpenSans-SemiBold";
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 28px;
	position: absolute;
	margin-left: 75px;
	top: 18%; 
}

.question p {
	font-family: "OpenSans-Bold";
	display: block;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 34px;
	position: absolute;
	margin-left: 75px;
	top: 45%; 
	letter-spacing: 3px;
}

.button {
	display: inline-block;
    background-color: rgb(252, 80, 148);
    height: 80px;
    width: 282px;
    text-align: center;
    line-height: 75px;
    font-size: 38px;
    position: absolute;
    top: 56%;
    margin-left: 77px;
    color: #fff;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    border-radius: 20px;
}

.footer{
   	background-color: rgba(255, 255, 255, 0.7);
    font-family: "OpenSans-Bold";
    font-size: 12px;
	position:absolute;
    letter-spacing: 1px;
   	bottom:0;
   	width:100%;
   	height:80px;
}

.menu-main {
  list-style: none;
  padding: 25px 0 5px;
  text-align: center;
    margin-right: 605px;

}

.menu-main li {display: inline-block;}

.menu-main li:last-child:after {content: none;}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: "OpenSans-Bold";
  letter-spacing: 1px;
  position: relative;
  margin: 0 -12px 0 17px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #3b3b3b;}
.menu-main a.current, .menu-main a:hover{color: #fff;}
.menu-main a:before,
.menu-main a:after {
  position: absolute;
  height: 4px;
  top: auto;
  bottom: -5px;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
